.feedback {
  width: calc(100% + 20px + 20px);
  margin-left: -20px;
}

.feedback-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  .inner {
    height: 157px;
    background-image: url(~@/assets/img/closet/img_feedback.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 17px;
    opacity: 0.8;
  }
  .text-wrap {
    text-align: center;
    .txt-how {
      @include fontSize(15px);
      color: #fff;
      strong {
        font-weight: 700;
      }
    }
    .txt-helpful {
      @include fontSize(12px);
      color: #b8b8b8;
    }
  }
  .evaluate-wrap {
    margin-top: 15px;
    .list-evaluate {
      text-align: center;
      .item {
        display: inline-block;
        vertical-align: top;
        margin-left: 25px;
        cursor: pointer;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .txt-evaluate {
      @include fontSize(12px);
      color: #fff;
      margin-top: 5px;
      white-space: nowrap;
    }
    .great,
    .okay,
    .too-bad {
      .image {
        width: 40px;
        height: 40px;
        background-size: 100%;
        margin: 0 auto;
      }
    }
    .great {
      .image {
        background-image: url(~@/assets/img/closet/ico_feedback1_off.svg);
      }

      &.selected {
        .image {
          background-image: url(~@/assets/img/closet/ico_feedback1_on.svg);
        }
      }
    }
    .okay {
      .image {
        background-image: url(~@/assets/img/closet/ico_feedback2_off.svg);
      }

      &.selected {
        .image {
          background-image: url(~@/assets/img/closet/ico_feedback2_on.svg);
        }
      }
    }
    .too-bad {
      .image {
        background-image: url(~@/assets/img/closet/ico_feedback3_off.svg);
      }
      &.selected {
        .image {
          background-image: url(~@/assets/img/closet/ico_feedback3_on.svg);
        }
      }
    }
  }
}

.feedback-content {
  margin-bottom: 30px;
}

.review-wrap {
  background-color: #bbb;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #bbb;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.txt-review {
  @include fontSize(14px);
  color: #fff;
  text-align: center;
  line-height: 40px;
}

.txt-feedback-title {
  @include fontSize(15px);
  font-weight: 700;
  margin-bottom: 10px;
}

.feedback-answer {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: #f5f5f5;
}

.info-wrap {
  .product-wrap {
    background-color: #e9e9e9;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .image {
    width: 170px;
    border: 5px solid #fff;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}
.nps-wrap {
  margin-top: 35px;
}

.text-nps-wrap {
  .txt-feedback-title {
    margin-bottom: 0;
  }
  .txt-nps {
    @include fontSize(14px);
    margin-top: 5px;
    color: #797979;
  }
  margin-bottom: 10px;
}


.column-left {
  padding-bottom: 30px;
  .common-wrap {
  }
  .info-wrap,
  .row {
    margin-top: 35px;
  }
}

.column-right {
  border-top: 1px dotted #a7a7a7;
  padding-bottom: 30px;
  .info-wrap,
  .row {
    margin-top: 35px;
  }
}
.button-wrap {

}

@media (min-width: 768px) {
  .grid-flex {
    .column {
      flex: 0 0 100%;
    }
  }
  .feedback {
    width: 100%;
    margin-left: 0;
  }
  .feedback-header {
    padding-left: 0;
    padding-right: 0;
    .inner {
      height: 210px;
      padding-top: 32px;
    }
    .text-wrap {
      .txt-how {
        @include fontSize(18px);
      }
      .txt-helpful {
        @include fontSize(14px);
        margin-top: 3px;
      }
    }
    .evaluate-wrap {
      margin-top: 17px;
      .great,
      .okay,
      .too-bad {
        .image {
          width: 50px;
          height: 50px;
        }
      }
      .txt-evaluate {
        @include fontSize(14px);
        margin-top: 8px;

      }
      .list-evaluate {
        .item {
          margin-left: 60px;
        }
      }
    }
  }
}

@media (min-width: 1080px) {
  .grid-flex {
    .column {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  .feedback-answer {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 42px;
    border-bottom: 2px solid $color-primary;
  }
  .column-left {
    padding-right: 29px;
    padding-bottom: 0;
    &.only-column {
      padding-right: 0;
    }
  }
  .column-right {
    border-top: 0 none;
    padding-left: 29px;
    padding-bottom: 0;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left:0;
      top: 0;
      height: 100%;
      border-left: 1px solid #e9e9e9;
    }
    .info-wrap {
      margin-top: 0;
    }
  }
  .button-wrap {
    text-align: right;
    margin-top: 30px;
    button {
      width: 287px;
    }
  }
}