// Form Layout
.form-group {
  &[data-grid="7:3"]{
    display: flex;
    justify-content: space-between;
    input {
      min-width: 156px;
      flex: 1;
      margin-right: 8px;
    }
    button {
      flex: 0 0 88px;
    }
  }
}

// Input Style
.form-input {
  height: 50px;
  border: 1px solid #c4c4c4;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.6px;
  width: 100%;
  padding: {
    left: 11px;
    right: 15px;
  }
}
.error {
  input {
    border: 1px solid #ec4b1a;
  }
}


// Button Style
.btn {
  border: 0;
  padding: 0;
  &-primary {
    background-color: #333;
    color: #fff;
    //line-height: 50px;
    height: 50px;
    letter-spacing: -0.6px;
  }
  &-secondary {
    line-height: 50px;
    letter-spacing: -0.6px;
    font-size: 15px;
    color: #fff;
    background-color: #797979;
  }
}

// Checkbox Style

.custom-checkbox {
  position: relative;
  display: block;
  padding-left: 31px;
  text-align: left;
  .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:focus {
      ~label {
        &:before {
          outline: rgb(59, 153, 252) auto 5px;
        }
      }
    }
    &:checked {
      ~label {
        &:after {
          display: block;
        }
      }
    }
  }
  .custom-control-label {
    position: relative;
    font-size: 14px;
    letter-spacing: -0.6px;
    line-height: 26px;
    cursor: pointer;
    margin: 0;
    &:before {
      position: absolute;
      display: block;
      content: '';
      background-color: #fff;
      width: 26px;
      height: 26px;
      border: 1px solid #999;
      left: -31px;
      top: 0;
    }
    &:after {
      content: '';
      position: absolute;
      display: none;
      left: -23px;
      top: 3px;
      width: 10px;
      height: 15px;
      border: solid black;
      border-width: 0 4px 4px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .custom-control-link {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.4px;
    color: #566b9c;
    text-decoration: underline;
  }
}
