/* Make clicks pass-through */
$color: #333; // original : #29d;

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $color;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px $color, 0 0 5px $color;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  &::before {
    content: "";
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background-color: #999;
    //opacity: .6;
  }
  &::after {
    z-index: 2;
    content: "";
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    transition: all .75s ease 0s;
    border-radius: 100%;
    border-right: 4px solid #111;
    border-top: 4px solid #ddd;
    border-left: 4px solid #ddd;
    border-bottom: 4px solid #ddd;
    -webkit-animation: nprogress-spinner .45s infinite linear;
    animation: nprogress-spinner .45s infinite linear;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
  }
}

//#nprogress .spinner {
//  display: block;
//  position: fixed;
//  z-index: 1031;
//  top: 15px;
//  right: 15px;
//}

//#nprogress .spinner-icon {
//  width: 18px;
//  height: 18px;
//  box-sizing: border-box;
//
//  border: solid 2px transparent;
//  border-top-color: $color;
//  border-left-color: $color;
//  border-radius: 50%;
//
//  -webkit-animation: nprogress-spinner 400ms linear infinite;
//  animation: nprogress-spinner 400ms linear infinite;
//}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
