.inputGroup {
  display: inline-table;
  width: 100%;  
}

.button-main {
  width: 320px;
  height: 80px;
  background-color: #212121;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 80px;
  letter-spacing: -1.4px;
  color: #ffffff;
  text-align: left;
  display: inline-block;
  float: right;
  cursor: pointer;
  padding: 0;
  border-style: none;
  border-image: none;
}

.button-login {
  width: 100%;
  height: 60px;
  background-color: #212121;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: -0.2px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border-style: none;
  border-image: none;
}
