div.button-main {
  width: 320px;
  height: 80px;
  background-color: #212121;
  box-shadow: 0.5px 7px 7px 0 rgba(0, 0, 0, 0.18);
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 80px;
  letter-spacing: -1.4px;
  color: #ffffff;
  text-align: left;
  display: inline-block;
  float: right;
  cursor: pointer;
}
