.inputGroup {
  display: inline-table;
  width: 100%;
  text-align: left;
}

.button-main {
  width: 320px;
  height: 80px;
  background-color: #212121;
  font-size: 27px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 80px;
  letter-spacing: -1.8px;
  color: #ffffff;
  text-align: left;
  display: inline-block;
  float: right;
  cursor: pointer;
  padding: 0;
  border-style: none;
  border-image: none;
  box-shadow: 0.5px 7px 7px 0 #0000002e;
}
@media screen and (max-width: 486px) {
  .button-login {
    height: 60px !important;
    font-size: 20px !important;
    line-height: 60px !important;
    width: 125px !important;
  }
}
.button-login {
  width: 100%;
  height: 60px;
  background-color: #212121;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: -0.7px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border-style: none;
  border-image: none;
  position: relative;
}

.button-grey {
  width: 100%;
  height: 60px;
  background-color: #737373;
  border: solid 1px #6b6b6b;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: -0.7px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border-style: none;
  border-image: none;
  position: relative;
}

.button-survey {
  width: 100%;
  height: 50px;
  border: solid 1px #FFFFFF;
  font-size: 18px;
  letter-spacing: -0.7px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border-image: none;
  position: relative;
  background-color: unset;
}

.button-login:hover:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fb5143;
}

.button-login:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
