.closet-title-text {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: -2.8px;
  text-align: left;
}

.closet-card-block {
  display: inline-block;
  width: 1.1%;
}

.closet-content {
  border-top: solid 2px #212121;
}

.closet-card-none {
  height: 500px;
  background: url('/static/img/closet/img_none.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  position: relative;
}

.closet-card-none-content {
  position: absolute;
  width: 392px;
  height: 160px;
  background-color: #fafafa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.content-table {
  display: table;
  height: 100%;
}

.content-table span {
  display: table-cell;
  vertical-align: middle;
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: normal;
  letter-spacing: -1.8px;
  color: #212121;
  text-align: center;
}
