@import "layout.css";
@import "fontInfo.css";
@import "button.css";
@import "form.css";
@import "tablet-resp.css" screen and (max-width: 1024px);
@import "mobile-resp.css" screen and (max-width: 640px);


.vertical-line {
  width: 1px;
  background-color: #797979;
  margin: 0 10px;
}

.Line {
  width: 100%;
  height: 2px;
  background-color: #e1e1e1;
}

.greyLine {
  height: 1px;
  opacity: 0.2;
  background-color: #212121;
}

.no-deco-a {
  text-decoration: none;
}

.dotted-line {
  background-color: #d4d4d4;
  border-bottom-style: dotted;
  border-bottom-color: #f7f7f7;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #dadada;
}
