@charset "UTF-8";
@import url(_reboot.css);
.form-group[data-grid="7:3"] {
  display: flex;
  justify-content: space-between; }
  .form-group[data-grid="7:3"] input {
    min-width: 156px;
    flex: 1;
    margin-right: 8px; }
  .form-group[data-grid="7:3"] button {
    flex: 0 0 88px; }

.form-input {
  height: 50px;
  border: 1px solid #c4c4c4;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.6px;
  width: 100%;
  padding-left: 11px;
  padding-right: 15px; }

.error input {
  border: 1px solid #ec4b1a; }

.btn {
  border: 0;
  padding: 0;
  font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', sans-serif; }
  .btn-primary {
    background-color: #333;
    color: #fff;
    height: 50px;
    letter-spacing: -0.6px; }
  .btn-secondary {
    line-height: 50px;
    letter-spacing: -0.6px;
    font-size: 15px;
    color: #fff;
    background-color: #797979; }

.custom-checkbox {
  position: relative;
  display: block;
  padding-left: 31px;
  text-align: left; }
  .custom-checkbox .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .custom-checkbox .custom-control-input:focus ~ label:before {
      outline: #3b99fc auto 5px; }
    .custom-checkbox .custom-control-input:checked ~ label:after {
      display: block; }
  .custom-checkbox .custom-control-label {
    position: relative;
    font-size: 14px;
    letter-spacing: -0.6px;
    line-height: 26px;
    cursor: pointer;
    margin: 0; }
    .custom-checkbox .custom-control-label:before {
      position: absolute;
      display: block;
      content: '';
      background-color: #fff;
      width: 26px;
      height: 26px;
      border: 1px solid #999;
      left: -31px;
      top: 0; }
    .custom-checkbox .custom-control-label:after {
      content: '';
      position: absolute;
      display: none;
      left: -23px;
      top: 3px;
      width: 10px;
      height: 15px;
      border: solid black;
      border-width: 0 4px 4px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .custom-checkbox .custom-control-link {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.4px;
    color: #566b9c;
    text-decoration: underline; }

/* Common Style */
body {
  /* 특별하게 지정하지 않으면 폰트사이즈와 높이값이 같게 */
  line-height: 1;
  overflow-y: scroll; }

p {
  margin: 0; }

ol, dl, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix::after {
  display: block;
  content: '';
  clear: both; }

.txt-mainTitle {
  font-size: 14px;
  font-weight: 800;
  line-height: 28px;
  text-transform: uppercase; }

.line {
  border-bottom-color: #333;
  border-bottom-width: 1px; }
  .line__default {
    border-bottom-width: 2px;
    border-bottom-style: solid; }
  .line__thin {
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1; }
  .line__dashed {
    border-bottom-style: dashed; }

.txt-main-title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -1px; }

.txt-main-point {
  color: #f45649;
  font-size: 14px;
  font-weight: 800;
  font-family: 'Open Sans', '맑은 고딕', 'Malgun Gothic', sans-serif;
  line-height: 28px;
  letter-spacing: -0.2px;
  text-transform: uppercase; }
  .txt-main-point[data-color="white"] {
    color: #fff; }

.txt-point {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.6px;
  line-height: 21px; }

.txt-hashtag {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.6px;
  color: #683b3f; }

.txt-error {
  font-size: 14px;
  letter-spacing: -0.4px;
  color: #ec4b1a;
  margin-top: 8px; }

.txt-bold {
  font-weight: 700; }

.txt-refer {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.8px;
  color: #797979; }

@media (min-width: 1279px) {
  .txt-main-point {
    font-size: 17px; }

  .txt-point {
    font-size: 16px;
    line-height: 24px; }

  .txt-refer {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.6px; } }

/*# sourceMappingURL=common.css.map */
