@import "layout.css";
@import "fontInfo.css";
@import "button.css";
@import "form.css";
@import "mobile-resp.css" screen and (max-width: 1024px);

.Line {
  width: 100%;
  height: 2px;
  background-color: #e1e1e1;
}

.no-deco-a {
  text-decoration: none;
}

.explain {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.2px;
  text-align: center;
  color: #212121;
}
