@charset "UTF-8";
@import '_reboot.css';
@import '_form.scss';
@import '_nprogress';
/* Common Style */

body {
  line-height: 1;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0;
}
ol,dl,ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.txt-mainTitle {
  font-size: 14px;
  //font-size: 4.375vw;
  font-weight: 800;
  line-height: 28px;
  //line-height: 8.75vw;
  text-transform: uppercase;
}

.line {
  border-bottom: {
    color: #333;
    width: 1px;
  }
  &__default {
    border-bottom: {
      width: 1px;
      style: solid;
    }
  }
  // 얇은
  &__thin {
    border-bottom: {
      style: solid;
      color: #e1e1e1;
    }
  }
  // dashed 스타일
  &__dashed {
    border-bottom: {
      style: dashed;
    }
  }
}

// Text Common Style
.txt-main-title {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.9px;
}
.txt-main-point {
  color: #f16458;
  font: {
    size: 14px;
    weight: 800;
    family: 'Open Sans', '맑은 고딕', 'Malgun Gothic', sans-serif;
  }
  line-height: 28px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  &[data-color="white"]{
    color: #fff;
  }
}
.txt-point {
  font: {
    size: 15px;
    weight: 700;
  }
  letter-spacing: -0.6px;
  line-height: 21px;
}
.txt-hashtag {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.8px;
  color: #683b3f;
}
.txt-error {
  font-size: 14px;
  letter-spacing: -0.8px;
  color: #ec4b1a;
  margin-top: 8px;
}

.txt-bold {
  font-weight: 700;
}
// 참조 텍스트
.txt-refer {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.8px;
  color: #797979;
}

// 링크
.txt-link {
  line-height: 25px;
  font-size: 15px;
  letter-spacing: -0.9px;
  color: #566b9c;
  text-decoration: underline;
  &:hover {
    text-decoration: underline !important;
  }
}

.txt-centering {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
}

  // Carousel
.swiper-pagination-bullet {
  background-color: rgba(51,51,51,0.3) !important;
  &.swiper-pagination-bullet-active {
    background-color: #333 !important;
  }
}


// Tablet
@media (min-width: 768px){
  .txt-main-title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -1.2px;
    padding-top: 6px;
  }
  .txt-main-point {
    font: {
      size: 17px;
      margin-bottom:4px;
    }
  }
  .txt-point {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1px;
  }
  .txt-refer {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.9px;
  }
  .txt-hashtag {
    font-size: 15px;
    line-height: 23px;
  }
}
// Desktop
@media (min-width: 1279px){

}
