* {
  font-family: 'Noto sans KR', '맑은 고딕', 'Malgun Gothic', sans-serif;
}

.en-font {
  font-family: 'Open Sans', '맑은 고딕', 'Malgun Gothic', sans-serif;
  letter-spacing: -0.2px !important;
}

.main-point-text {
  font-size: 17px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.9px;
  text-align: left;
  color: #f16458;
  padding-left:2px;
}

.closet .main-point-text {
  font-weight: 700;
  line-height: 1;
}

.main-about-title,
.main-cs-tel,
.login-title,
.content-title {
  font-size: 32px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -1.2px;
  text-align: left;
  color: #333333;
}

.main-cs-noti,
.faq-answer-text,
.process-text,
.main-about-service {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  color: #333333;
}

.explain {
  color: #797979;
  letter-spacing: -0.35px;
}

.main-cs-noti a {
  font-weight: 500;
  color: #566b9c;
}

.footer-info {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.8px;
  text-align: left;
  color: #797979;
}

.footer-info span.title {
  font-weight: 600;
  letter-spacing: -0.8px;
  color: #333333;
}

.footer-info span.text {
  line-height: 1.25;
  letter-spacing: -0.1px;
}

.menu-title {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.7px;
  color: #333333;
 text-decoration: none;
}

.dot {
  font-size: 24px;
  font-weight: 510;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.2px;
  color: #333333;
  opacity: 0.5;
}

.tc-white {
  color: #FFFFFF !important;
}

.tc-black {
  color: #333333 !important;
}

.step-number {
 font-size: 15px;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 letter-spacing: normal;
 text-align: left;
 color: #b38351;
 line-height: 1.8;
}

.process-title, .faq-question {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: -1.3px;
  text-align: left;
  color: #333333;
}

.content-title {
  font-weight: 400;
  line-height: 1;
  text-align: center;
  position: relative;
}

.content-title-menu-box {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: solid 2px #333333;
  position: absolute;
  top: 3px;
  left: 50%;
  cursor: pointer;
}

.arrow-down {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
}

.content-menu-box {
  display: none;
  width: 181px;
  position: absolute;
  top: 45px;
  left: 50%;
  border: solid 1px #333333;
  z-index: 5;
  background-color: #FFFFFF;
}

.content-menu-box-detail {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #333333;
  cursor: pointer;
}

.content-menu-box-detail:hover {
  background-color: #f4f4f4;
}

.inputIconLabel {
  display: inline-table;
  position: relative;
  width: 100%;
}

.inputIconLabel input {
  padding-left: 2.271429em !important;
}

.inputIconLabel i {
  position: absolute;
  width: 2.071429em;
  right: auto;
  left: 1px;
  top: 0;
  line-height: 1;
  text-align: center;
  height: 100%;
}

.inputIconLabel i::before {
  text-align: center;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -.5em;
  opacity: 0.5;
}

span.error {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  color: #ec4b1a;
  padding: 12px 0 2px;
  display: inline-block;
}

.error input {
  border: 1px solid #ec4b1a;
}

.closet-title {
  font-size: 16px;
  line-height: 0;
  letter-spacing: -1px;
}
