@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Nanum Barun Gothic', "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
}

.en-font {
  font-family: 'Open Sans', "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
}

.main-point-text {
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.9px;
  text-align: left;
  color: #fa4132;
}

.main-cs-tel {
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #212121;
  color: var(--black-two);
}

.main-cs-noti {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: -0.2px;
  text-align: left;
  color: #212121;
  color: var(--black-two);
}

.main-cs-noti a {
  font-weight: 500;
  color: #566b9c;
}

.footer-info {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.8px;
  text-align: left;
  color: #797979;
}

.footer-info span.title {
  font-weight: 800;
  letter-spacing: -0.8px;
  color: #212121;
}

.footer-info span.text {
  line-height: 1.25;
  letter-spacing: -0.1px;
}

.menu-title {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.2px;
  color: #212121;
  text-decoration: none;
}

.dot {
  font-size: 24px;
  font-weight: 510;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.2px;
  color: #212121;
  opacity: 0.5;
}

.tc-white {
  color: #FFFFFF !important;
}

.tc-black {
  color: #212121 !important;
}
