.main, header {
  max-width: 100% !important;
  min-width: 320px !important;
}

.benefit-main,
.main-about-detail,
.process-main,
.faq-main {
  max-width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.benefit-main-title {
  width: 100% !important;
  letter-spacing: -2.6px;
}

.subContent {
  max-width: 100% !important;
  width: fit-content !important;
}

.benefit-btn-area {
  width: 0 !important;
}

.header-menu {
  width: 100%;
  padding: 0;
}

.side-margin-42 {
  margin: 0 2px 0 10px;
}

.side-margin-50 {
  margin: 0 4.8% !important;
}

.side-padding-50 {
  padding: 0 4.8% !important;
}

.pd30 {
  padding-top: 0px !important;
}

.benefit-title {
  font-size: 28px !important;
  letter-spacing: -2.6px !important;
}

.button-main {
  position: fixed !important;
  width: 100% !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 999 !important;
}

.main-point-text {
  font-size: 13px !important;
  display: inline-block !important;
  width: auto !important;
  letter-spacing: 0px !important;
}

.main-about {
  background-position: 70% 0 !important;
}

.main-about-title {
  font-size: 32px !important;
}

.main-process-info {
  display: block !important;
  margin-top: 40px !important;
}

.menu-title {
  font-size: 17px !important;
}

.process-card {
  display: inline-flex !important;
}

.process-half-area {
  width: 100% !important;
  bottom: 0 !important;
  margin-left: 0px !important;
}

.half-second {
  margin-top: 30px;
}

.process-line {
  display: none;
}

.process-title, .faq-question {
  font-size: 19px !important;
  letter-spacing: -1.2px !important;
}

.faq-card {
  margin-top: 40px;
}

.faq-answer {
  height: 100% !important;
}

.mt60 {
  margin-top: 30px !important
}

.mt70 {
  margin-top: 35px !important;
}

.ml30 {
  margin-left: 10px !important;
}
.content-title{
  font-weight: 500 !important;
}
.content-form {
  width: 100% !important;
}

.closet {
  min-width: 320px !important;
  width: 100% !important;
}

.closet-mobile-menu,
.tomorrow,
.requirement,
.current,
.past,
.style,
.mypage,
.notice,
.patterns,
.mobile-customer-service,
.clothes {
  padding: 0 4.8% !important;
}

.closet-noti-info {
  box-sizing: border-box !important;
  width: 100% !important;
  margin-top: 49px !important;
  margin-right: 0 !important;
  float: none !important;
  padding: 0 30px;
}

.clothes-card {
  width: 150px;
  height: 210px;
}

.clothes-images {
  height: 130px;
}

.clothes-text {
  font-size: 14px;
}

.clothes-card:nth-child(2n+3) {
  margin-right: 7.5px !important;
  margin-top: 7.5px !important;
}

.clothes-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  opacity: 1;
  top: 9%;
  left: 87.4%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.btn-times:before, div.btn-times:after {
  content: '';
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #dadada;
  border-radius: 2px;
  top: 18px;
  box-shadow: 0 0 2px 0 #ccc;
}

.patterns-card {
  width: 145px !important;
  height: 145px !important;
}

div.subContent {
  padding-bottom: 100px;
  box-sizing: border-box;
}

.main-about-title,
.login-title,
.content-title {
  font-size: 32px;
}

.main-cs-tel {
  font-size: 30px !important;
  letter-spacing: -0.2px !important;
}

.login,
.findId {
  padding-bottom: 470px !important;
}

.footer-info:last-child {
  margin-bottom: 110px;
}

.process-text {
  font-size: 15px !important;
}


.step-number {
 font-size: 13px !important;
 line-height: 1.5 !important;
}

.benefit-main {
  margin-top: 0 !important;
}


.main-cs-noti, .footer-info {
  font-size: 16px !important;
  letter-spacing: -0.7px !important;
}

.closet-title-text {
  font-size: 26px !important;
}

.closet-title-sub-text {
  line-height: 1.5;
  letter-spacing: -0.8px;
  font-size: 16px;
  padding-top: 10px;
}

.noti-text {
  font-size: 15px !important;
}

.alert-modal-content {
  font-size: 18px !important;
}

/** datapicker */
.vdp-datepicker__calendar header .next,
.vdp-datepicker__calendar header .prev {
  width: 11% !important;
}
