.clothesLine {
  height: 1px;
  opacity: 0.2;
  background-color: #212121;
}

.clothes-card {
  width: 190px;
  height: 270px;
  background-color: #f4f4f4;
  position: relative;
  cursor: pointer;
  border: solid 2px #f4f4f4;
}

.clothes-images {
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clothes-text {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  padding-bottom: 15px;
  padding-top: 13px;
}

.clothes-btn {
  width: 49px;
  height: 49px;
  position: absolute;
  opacity: 1;
  top: 9%;
  left: 87.4%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.btn-times {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 6px;
}

div.btn-times:before, div.btn-times:after {
  content: '';
  position: absolute;
  width: 44px;
  height: 2px;
  background-color: #dadada;
  border-radius: 2px;
  top: 22px;
  box-shadow: 0 0 2px 0 #ccc;
}

div.btn-times:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 3px;
}

div.btn-times:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 3px;
}

.on:before, .on:after {
  background-color: #FFFFFF !important;
  box-shadow: unset !important;
}

.card-oncolor {
  border: solid 2px #f45649;
  background-color: rgba(0, 0, 0, 0.4);
}

.card-offcolor {
  background-color: #f4f4f4;
}

.card-btn-oncolor {
  background-color: #fb5143;
}

.card-btn-offcolor {
  background-color: #f4f4f4;
}

.clothes-image-area {
  position:relative;
  padding: 25px 35px 0 35px;
}
