.main {
  min-width: 900px !important;
}

.benefit-main, .main-about-detail, .process-main, .faq-main, .current {
  min-width: 900px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.benefit-title {
  font-size: 64px !important;
  display: block;
}

.benefit-btn-area {
  width: 320px !important;
  margin-top: 40px;
  display: inline-block;
}

.button-main {
  position: unset !important;
}

.main-point-text {
  font-size: 17px !important;
}

.main-about {
  background-position: 70% 0 !important;
}

.main-about-title {
  font-size: 32px !important;
}

.main-process-info {
  display: block !important;
}

.process-half-area {
  width: 100% !important;
  bottom: 0 !important;
  margin-left: 0px !important;
}

.half-second {
  margin-top: 60px;
}

.process-line {
  display: none;
}

.faq-answer {
  height: 100% !important;
}

.closet {
  min-width: 900px !important;
  width: 100% !important;
}

.closet-mobile-menu,
.tomorrow,
.current {
  min-width: 900px !important;
  padding: 0 3.172% !important;
}

.closet-my-info {
  font-size: 45px;
}

.closet-noti-info {
  width: 100% !important;
  margin-top: 59px !important;
  margin-right: 0 !important;
  float: none !important;
  padding: 0 30px;
}

.closet-styling-image-first {
  left: -webkit-calc(48% - 350px) !important;
  left: -moz-calc(48% - 350px) !important;
  left: calc(48% - 350px) !important;
}

.closet-styling-rotate-text {
  left: -webkit-calc(48% - 401px) !important;
  left: -moz-calc(48% - 401px) !important;
  left: calc(48% - 401px) !important;
}
