// contents
.contents {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 768px) {
    width: 708px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: 1280px) {
    width: 1200px;
    padding-top: 40px;
  }
  .contents-header {
    &+.content {
      margin-top: 20px;
      @media (min-width: 1280px) {
        margin-top: 25px;
      }
    }
    &+.content-form {
      margin-top: 15px;
      @media (min-width: 1280px) {
        margin-top: 20px;
      }

    }
  }
}

.contents-header {
  h3 {
    @include fontSize(15px);
    @media (min-width: 768px) {
      @include fontSize(18px);
    }
  }
  p {
    @include fontSize(14px);
    color: $color-secondary;
  }
}

.content-border {
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid #e9e9e9;
  @media (min-width: 768px) {
    border-top: 2px solid $color-primary;
    border-bottom: 1px solid $color-primary;
  }
}
.row {
  margin-top: 30px;
}
.column-left {
  .row {
    &:first-child {
      margin-top: 0;
    }
  }
}

@media (min-width: 768px) {
  .column-left,
  .column-right {
    .row {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

