.contents {
  padding: 30px 20px 0 20px;
}
.contents-header {
  h3 {
    @include fontSize(15px);
    color: $color-primary;
  }
  p {
    @include fontSize(14px);
    color: #797979;
  }
  &+form {
    .content {
      //margin-top: 15px;
    }
  }
  &+.content {
    // TODO: 기존에는 margin-top: 10px; 이게 어떠한 경우에서 바뀌는지 체크할것.
    //margin-top: 15px;
  }
}
.content {
}

@media (min-width: 768px) {
  .contents {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0 130px 0;
  }
  .contents-header {
    h3 {
      @include fontSize(18px);
    }
    p {

    }
    &+form {
      .content {
        margin-top: 20px;
      }
    }
    &+.content {
      margin-top: 20px;
    }
  }
  .content {
    padding: 0;

  }
}