@import 'reset.css';

// Font
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'font.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: $font-primary;
}
body {
  font-family: $font-primary;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: $color-primary;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

// Common Style

@for $i from 1 through 30 {
  .mt-#{$i} {
    margin-top: $i+px;
  }
  .mr-#{$i} {
    margin-right: $i+px;
  }
  .mb-#{$i} {
    margin-bottom: $i+px;
  }
  .ml-#{$i} {
    margin-left: $i+px;
  }
  .pt-#{$i} {
    padding-top: $i+px;
  }
  .pr-#{$i} {
    padding-right: $i+px;
  }
  .pb-#{$i} {
    padding-bottom: $i+px;
  }
  .pl-#{$i} {
    padding-left: $i+px;
  }
}

/*
높이값(height) 1~100px까지
.h-1 ~ .h-100
*/
@for $i from 1 through 100 {
  .h-#{$i} {
    height: $i+px;
  }
}
.lang-en {
  font-family: $font-secondary;
}

// Layout
.grid-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  .column {
    flex: 0 0 100%;
    max-width: 100%;
    @for $i from 1 through 100 {
      &.w-#{$i} {
        @if ($i == 33) {
          flex: 0 0 33.3333%;
          max-width: 33.3333%;
        }
        @else if( $i == 66) {
          flex: 0 0 66.6667%;
          max-width: 66.6667%;
        }
        @else {
          flex: 0 0 percentage($i/100);
          max-width: percentage($i/100);
        }
      }
      &.o-#{$i} {
        @if ($i == 33) {
          margin-left: 33.3333%;
        }
        @else if( $i == 66) {
          margin-left: 66.6667%;
        }
        @else {
          margin-left: percentage($i/100);
        }
      }
    }
  }
  @media (max-width:767px) {
    &.grid-fixed {
      .column {
        flex-basis: 0;
        flex-grow: 1;
      }
    }
  }
  @media (min-width:768px) {
    .column {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}

.list-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1px;
  margin-top: 1px;
  .item {
    display:flex;
    justify-content:center;
    align-items:center;
    border: 1px solid #c4c4c4;
    margin-left: -1px;
    margin-top: -1px;
    cursor: pointer;
    color: #bbb;
    background-color: $color-white;
    @for $i from 1 through 100 {
      $percent: percentage($i/100);
      &.w-#{$i} {
        @if ($i == 33) {
          flex: 0 0 33.3333%;
          max-width: 33.3333%;
        }
        @else if( $i == 66) {
          flex: 0 0 66.6667%;
          max-width: 66.6667%;
        }
        @else {
          flex: 0 0 calc(#{$percent} + 1px);
          max-width: calc(#{$percent} + 1px);
        }
      }
      &.o-#{$i} {
        @if ($i == 33) {
          margin-left: 33.3333%;
        }
        @else if( $i == 66) {
          margin-left: 66.6667%;
        }
        @else {
          margin-left: percentage($i/100);
        }
      }
      //&.w-#{$i} {
      //  $percent: percentage($i/100);
      //  flex-grow: 0;
      //  flex-shrink: 0;
      //  flex-basis: calc(#{$percent} + 1px);
      //  max-width: calc(#{$percent} + 1px);
      //}
    }
    &.selected {
      color: $color-primary;
      outline: 2px solid $color-primary;
      outline-offset: -2px;
      font-weight: 700;
      position: relative;
      z-index: 10;
    }
    &.disabled {
      color: #bbb;
      background-color: #f5f5f5;
      border: 1px solid #dadada;
      cursor: not-allowed;
    }
  }
}

// Form
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #797979;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #797979;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #797979;
}
:-moz-placeholder { /* Firefox 18- */
  color: #797979;
}
// Safari Mobile Fix
input, textarea, select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-radius: 0 !important;
  background-color: #fff;
  box-shadow: none !important;
}
::-moz-selection { /* Code for Firefox */
  background: #f3f3f3;
}
::selection {
  background: #f3f3f3;
}
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 0 white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 0 white inset;
  -webkit-text-fill-color: #333;
}
.text-field {
  input {
    @include fontSize(15px);
    background-color: #fff;
    border: 1px solid #c4c4c4;
    height: 50px;
    width: 100%;
    font-family: $font-primary;
    padding: {
      left: 11px;
      right: 15px;
    }
  }
  &-error {
    input {
      border: 1px solid $color-pomegranate !important;
    }
  }
}
.custom-checkbox {
  position: relative;
  display: block;
  text-align: left;
  .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:focus {
      ~label {
        &:before {
          outline: rgb(59, 153, 252) auto 5px;
        }
      }
    }
    &:checked {
      ~label {
        &:after {
          -webkit-transform: rotate(45deg) scale(1);
          -ms-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
        }
      }
    }
  }
  .custom-control-label {
    @include fontSize(14px);
    position: relative;
    cursor: pointer;
    margin: 0;
    user-select: none;
    &:before {
      position: relative;
      display: inline-block;
      content: '';
      background-color: #fff;
      width: 21px;
      height: 21px;
      border: 1px solid #c4c4c4;
      top: 0;
      vertical-align: top;
      margin-right: 5px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 0;
      width: 8px;
      height: 13px;
      border: solid black;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg) scale(0);
      -ms-transform: rotate(45deg) scale(0);
      transform: rotate(45deg) scale(0);
      transition-duration: 0.2s;
    }
  }
  .custom-control-link {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.4px;
    color: #566b9c;
    text-decoration: underline;
  }
}

.btn {
  @include fontSize(15px);
  border: 0;
  padding: 0;
  width: 100%;
  cursor: pointer;
  background: transparent;
  &:disabled {
    color: #e9e9e9;
    background-color: #bbb;
    cursor: wait; // 바뀔수 있음
  }
}
.btn-primary {
  background-color: $color-primary;
  color: $color-white;
}
.btn-secondary {
  background-color: $color-secondary;
  color: $color-white;
}

@media (min-width: 768px) {
  .custom-checkbox {
    .custom-control-label {
      @include fontSize(15px);
      &::before {
        width: 22px;
        height: 22px;
      }
      &::after {
        top: 3px;
        width: 7px;
        height: 14px;
      }
    }
  }
}

// ETC
.txt-error {
  @include fontSize(15px);
  color: $color-pomegranate;
  display: inline-block;
  margin-top: 10px; // 참고할것.
}

.txt-centering {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
}

.txt-form-title {
  @include fontSize(15px);
  font-weight: 700;
  margin-bottom: 10px;
}

.information {
  @include fontSize(13px);
  h3 {
    @include fontSize(18px);
    font-weight:700;
  }
  .tit {
    @include fontSize(14px);
    font-weight: 700;
    display: block;
    margin: 20px 0 10px;
  }
  ol, ul, dl {
    > ol, ul, dl {
      padding-left: 10px;
    }
  }
}

// Main Page
.txt-main-point {
  @include fontSize(14px, en);
  text-transform: uppercase;
  font-weight: 700;
  color: $color-sienna;
}
@media (min-width: 768px) {
  .txt-main-point {
    @include fontSize(17px, en);
  }
}

// Customize

// VModal
.v--modal {
  border-radius: 0 !important;
  border: 1px solid #333;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3) !important;
}
// Alert
.popup-custom-class {
  $root: simplert;
  // 초기화
  .#{$root}__content,
  .#{$root}__header,
  .#{$root}__body,
  .#{$root}__footer {
    padding: 0;
  }

  .#{$root}__content {
    padding: 25px;
    min-width: 320px;
    width:auto;
  }
  .#{$root}__header {
    .#{$root}__x {

    }
    .#{$root}__title {
      @include fontSize(24px);
    }
  }
  .#{$root}__body {
    @include fontSize(16px);
    font-weight: 700;
    padding-bottom: 20px;
  }
  .#{$root}__footer {
    .#{$root}__close {
      @include fontSize(16px);
      margin: 0;
      padding: 0;
      width: 100%;
      border-radius: 0;
      background-color: $color-primary;
      height: 56px;
    }
  }
}

// Calendar
.mx-datepicker {
  width: 100% !important;
  .mx-input {
    @include fontSize(15px);
    font-family: $font-primary;
    border: 1px solid #c4c4c4;
    height: 50px;
  }
}
.mx-calendar {
  .mx-calendar-header {
    font-family: $font-primary;
  }
  .mx-calendar-content {
    thead {
      font-family: $font-primary;
    }
    tbody {
      font-family: $font-secondary;
    }
  }
}

// Swiper
.swiper-pagination-bullet-active {
  background: $color-primary !important;
}