@import 'reset.css';

// 아이콘 폰트
@import '~@fortawesome/fontawesome-free/css/all.min.css';
// 한글 폰트
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,700&subset=korean');
// 영문 폰트
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
// 특수한 경우의 폰트
@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200');
//@import 'font.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: $font-primary;
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  color: $color-primary;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}
img, svg {
  vertical-align: top;
}

// Common Style

@for $i from 1 through 30 {
  .mt-#{$i} {
    margin-top: $i+px;
  }
  .mr-#{$i} {
    margin-right: $i+px;
  }
  .mb-#{$i} {
    margin-bottom: $i+px !important;
  }
  .ml-#{$i} {
    margin-left: $i+px;
  }
  .pt-#{$i} {
    padding-top: $i+px;
  }
  .pr-#{$i} {
    padding-right: $i+px;
  }
  .pb-#{$i} {
    padding-bottom: $i+px;
  }
  .pl-#{$i} {
    padding-left: $i+px;
  }
}

/*
높이값(height) 1~100px까지
.h-1 ~ .h-100
*/
@for $i from 1 through 100 {
  .h-#{$i} {
    height: $i+px;
  }
}
.lang-en {
  font-family: $font-secondary;
  letter-spacing: 0 !important;
}


/*
  레이아웃 관련 스타일
  footer는 언제나 바닥에 붙게
*/

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  .footer {
    margin-top: auto;
  }
}

// Layout
.grid-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  .column {
    flex: 0 0 100%;
    max-width: 100%;
    @for $i from 1 through 100 {
      &.w-#{$i} {
        @if ($i == 33) {
          flex: 0 0 33.3333%;
          max-width: 33.3333%;
        }
        @else if( $i == 66) {
          flex: 0 0 66.6667%;
          max-width: 66.6667%;
        }
        @else {
          flex: 0 0 percentage($i/100);
          max-width: percentage($i/100);
        }
      }
      &.o-#{$i} {
        @if ($i == 33) {
          margin-left: 33.3333%;
        }
        @else if( $i == 66) {
          margin-left: 66.6667%;
        }
        @else {
          margin-left: percentage($i/100);
        }
      }
    }
  }
  @media (max-width:767px) {
    &.grid-fixed {
      .column {
        flex-basis: 0;
        flex-grow: 1;
      }
    }
  }
  @media (min-width:768px) {
    .column {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}

.list-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1px;
  margin-top: 1px;
  .item {
    @include fontSize(15px);
    display:flex;
    justify-content:center;
    align-items:center;
    border: 1px solid #c4c4c4;
    margin-left: -1px;
    margin-top: -1px;
    cursor: pointer;
    color: #bbb;
    background-color: $color-white;
    @for $i from 1 through 100 {
      $percent: percentage($i/100);
      &.w-#{$i} {
        @if ($i == 33) {
          flex: 0 0 33.3333%;
          max-width: 33.3333%;
        }
          @else if ($i == 16) {
          flex: 0 0 16.66666666666667%;
          max-width: 16.66666666666667%;
        }
        @else if( $i == 66) {
          flex: 0 0 66.6667%;
          max-width: 66.6667%;
        }
        @else {
          flex: 0 0 calc(#{$percent} + 1px);
          max-width: calc(#{$percent} + 1px);
        }
      }
      &.o-#{$i} {
        @if ($i == 33) {
          margin-left: 33.3333%;
        }
        @else if( $i == 66) {
          margin-left: 66.6667%;
        }
        @else {
          margin-left: percentage($i/100);
        }
      }
    }
    &.selected {
      color: $color-primary;
      outline: 2px solid $color-primary;
      outline-offset: -2px;
      font-weight: 700;
      position: relative;
      z-index: 10;
    }
    &.disabled {
      color: #bbb;
      background-color: #f5f5f5;
      border: 1px solid #dadada;
      cursor: not-allowed;
    }
  }
}

// Form
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #797979;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #797979;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #797979;
}
:-moz-placeholder { /* Firefox 18- */
  color: #797979;
}
// Safari Mobile Fix
input, textarea, select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  border-radius: 0 !important;
  background-color: #fff;
  box-shadow: none !important;
}
::-moz-selection { /* Code for Firefox */
  background: #f3f3f3;
}
::selection {
  background: #f3f3f3;
}
input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 0 white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 0 white inset;
  -webkit-text-fill-color: #333;
}
.text-field {
  input {
    @include fontSize(15px);
    background-color: #fff;
    border: 1px solid #c4c4c4;
    height: 50px;
    width: 100%;
    font-family: $font-primary;
    padding: {
      left: 11px;
      right: 15px;
    }
    &[readonly] {
      color: #bbb;
    }
  }
  &-error {
    input {
      border: 1px solid $color-pomegranate !important;
    }
  }
}
.custom-checkbox {
  position: relative;
  display: block;
  text-align: left;
  .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:focus {
      ~label {
        &:before {
          outline: rgb(59, 153, 252) auto 5px;
        }
      }
    }
    &:checked {
      ~label {
        &:after {
          -webkit-transform: rotate(45deg) scale(1);
          -ms-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
        }
      }
    }
  }
  .custom-control-label {
    @include fontSize(14px);
    position: relative;
    cursor: pointer;
    margin: 0;
    user-select: none;
    &:before {
      position: relative;
      display: inline-block;
      content: '';
      background-color: #fff;
      width: 21px;
      height: 21px;
      border: 1px solid #c4c4c4;
      top: 0;
      vertical-align: top;
      margin-right: 5px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 2px;
      width: 8px;
      height: 13px;
      border: solid black;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg) scale(0);
      -ms-transform: rotate(45deg) scale(0);
      transform: rotate(45deg) scale(0);
      transition-duration: 0.2s;
    }
  }
  .txt-link {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.4px;
    color: #566b9c;
    text-decoration: underline;
  }
}

.btn {
  @include fontSize(15px);
  border: 0;
  padding: 0;
  width: 100%;
  cursor: pointer;
  background: transparent;
  &:disabled {
    color: #e9e9e9;
    background-color: #bbb;
    cursor: wait; // 바뀔수 있음
  }
  &:read-only {

  }
  @for $i from 1 through 100 {
    $percent: percentage($i/100);
    &.w-#{$i} {
      @if ($i == 33) {
        width: 33.3333%;
      }
      @else if( $i == 66) {
        width: 66.6667%;
      }
      @else {
        width: #{$percent};
      }
    }
  }
}
.btn-primary {
  background-color: $color-primary;
  color: $color-white;
}
.btn-secondary {
  background-color: $color-secondary;
  color: $color-white;
}
.btn-main {
  background-color: $color-pink-button;
  color: $color-white;
}

@media (min-width: 768px) {
  .custom-checkbox {
    .custom-control-label {
      @include fontSize(15px);
      &::before {
        width: 22px;
        height: 22px;
      }
      &::after {
        top: 3px;
        width: 7px;
        height: 14px;
      }
    }
  }
}
// Table
.table-zuly {
  @include fontSize(15px);
  width: 100%;
  table-layout: fixed;
  th,
  td {
    height: 52px;
    vertical-align: middle;
    &.align-top {
      vertical-align: top;
      height: auto;
    }
  }
  th {
    font-weight: 700;
  }
  td {
    border-top: 1px solid #e9e9e9;
  }
  thead,
  tbody {
    .index {
      text-align: center;
    }
    .title {
      text-align: left;
      padding-left: 10px;
      cursor: pointer;
    }
    .date {
      text-align: right;
      padding-right: 10px;
    }
    .txt-inner {
      @include fontSize(14px);
      padding: 10px 12px;
      background-color: #f5f5f5;
      white-space: pre-wrap;
    }
  }
  .txt-none {
    text-align: center;
  }
}

// ETC
.txt-error {
  @include fontSize(14px);
  color: $color-pomegranate;
  display: inline-block;
  margin-top: 10px; // 참고할것.
}
.txt-link {
  color: #566b9c;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.txt-warning {
  color: $color-pomegranate;
}

.center-align {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
}
.left-align {
  display:flex;
  justify-content:left;
  align-items:center;
  height:100%;
}

.icon-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #3d3d35;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
  text-indent: -9999em;
  vertical-align: middle;
  &:nth-child(1) {
    margin-right: 8px;
  }
}

// Form Title
.form-title-wrap {
  margin-bottom: 10px;
}
.txt-form-title {
  @include fontSize(15px);
  font-weight: 700;
}
.txt-form-explain {
  @include fontSize(15px);
  color: #797979;
}

.information {
  @include fontSize(13px);
  h3 {
    @include fontSize(18px);
    font-weight:700;
  }
  .tit {
    @include fontSize(14px);
    font-weight: 700;
    display: block;
    margin: 20px 0 10px;
  }
  ol, ul, dl {
    > ol, ul, dl {
      padding-left: 10px;
    }
  }
  .table {
    width: 100%;
    table-layout: fixed;
    th, td {
      border: 1px solid #ddd;
      height: 30px;
      vertical-align: middle;
      padding-left: 10px;
    }
    thead {
      th {
        background-color: #f0f0f0;
      }
    }
  }
}

// Main Page
.txt-main-point {
  @include fontSize(14px, en);
  text-transform: uppercase;
  font-weight: 700;
  color: $color-sienna;
}
@media (min-width: 768px) {
  .txt-main-point {
    @include fontSize(17px, en);
  }
}

// Customize

// VModal
.v--modal {
  border-radius: 0 !important;
  border: 1px solid #333;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3) !important;
}
// Alert
.popup-custom-class {
  $root: simplert;
  // 초기화
  .#{$root}__content,
  .#{$root}__header,
  .#{$root}__body,
  .#{$root}__footer {
    padding: 0;
  }

  .#{$root}__content {
    padding: 25px;
    min-width: 320px;
    width:auto;
  }
  .#{$root}__header {
    .#{$root}__x {

    }
    .#{$root}__title {
      @include fontSize(24px);
    }
  }
  .#{$root}__body {
    @include fontSize(16px);
    font-weight: 700;
    padding-bottom: 20px;
  }
  .#{$root}__footer {
    .#{$root}__close {
      @include fontSize(16px);
      margin: 0;
      padding: 0;
      width: 100%;
      border-radius: 0;
      background-color: $color-primary;
      height: 56px;
    }
  }
}

// Calendar
.mx-datepicker {
  width: 100% !important;
  .mx-input {
    @include fontSize(15px);
    font-family: $font-primary;
    border: 1px solid #c4c4c4;
    height: 50px;
  }
}
.mx-calendar {
  .mx-calendar-header {
    font-family: $font-primary;
  }
  .mx-calendar-content {
    thead {
      font-family: $font-primary;
    }
    tbody {
      font-family: $font-secondary;
    }
  }
}

// Swiper
.swiper-pagination-bullet-active {
  background: $color-primary !important;
}

.zuly-notify {
  .vue-notification {
    background-color: #dc828e;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .notification-content {
    // Style for content
    @include fontSize(14px);
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-weight: 300;
  }
}

.sweet-modal {
  max-height: 80vh !important;
  .sweet-content {
    padding: 0 !important;
    text-align: left !important;
  }
}
.sweet-modal-overlay {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.v--modal-background-click {
  display: flex;
  justify-content: center;
  align-items: center;
}
.v--modal-box {
  left: 0 !important;
  top: 0 !important;
}

.v--modal-overlay.scrollable {
  -webkit-overflow-scrolling: touch;
}

.swiper-container {
  .swiper-pagination {
    bottom: 20px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 32px;
    width: 32px;
    border: 1px solid #b9b9b9;
    border-width: 1px 1px 0 0;
    background-image: none;
  }
  .swiper-button-prev {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    left: 26px;
  }
  .swiper-button-next {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 26px;
  }
  .swiper-button-disabled {
    display: none;
  }
}

.zuly-dialog, .zuly-alert {
  .dg-backdrop {
    background-color: rgba(0,0,0,0.2);
  }
  .dg-content-body {
    border-bottom: 0;
  }
  .dg-main-content {
    padding: 30px 30px 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid $color-primary;
    border-radius: 0;
  }
  .dg-content {
    @include fontSize(15px);
    font-weight: 700;
    text-align: center;
  }
  .dg-btn {
    @include fontSize(15px);
    color: #fff;
    border: 0;
    border-radius: 0;
    height: 50px;
    font-weight: 400;
  }
}

.zuly-dialog {
  .dg-btn {
    width: calc(50% - 4px);
  }
  .dg-btn--cancel {
    background-color: $color-primary;
  }
  .dg-btn--ok {
    background-color: $color-primary;
  }
}

.zuly-alert {
  .dg-main-content {
    width: 80%;
  }
  .dg-btn {
    width: 100%;
  }
  .dg-btn--ok {
    background-color: $color-primary;
  }
}



/* NProgress Custom Design */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $color-primary !important;
  height: 5px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $color-primary, 0 0 5px $color-primary !important;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: none !important;
  //width: 24px;
  //height: 24px;
  //.spinner-icon {
  //  display: none;
  //}
  //&::after {
  //  z-index: 2;
  //  content: "";
  //  height: 24px;
  //  width: 24px;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  margin: -15px 0 0 -15px;
  //  transition: all .75s ease 0s;
  //  border-radius: 100%;
  //  border-right: 4px solid $color-primary;
  //  border-top: 4px solid #ddd;
  //  border-left: 4px solid #ddd;
  //  border-bottom: 4px solid #ddd;
  //  -webkit-animation: nprogress-spinner .45s infinite linear;
  //  animation: nprogress-spinner .45s infinite linear;
  //  -webkit-transform-origin: center;
  //  transform-origin: center;
  //  opacity: 1;
  //}
}