.contents {
  padding: {
    left: 20px;
    right: 20px;
  }
  /* Tablet ~ Desktop Style */
  @include tablet {
    width: 390px;
    margin: 0 auto;
    padding: {
      left: 0;
      right: 0;
    }
  }

  .contents-header {
    text-align: center;
    h3 {
      @include fontSize(24px);
      /* Tablet ~ Desktop Style */
      @include tablet {
        @include fontSize(28px);
        font-weight: 100;
      }
    }
    p {
      @include fontSize(14px);
      color: $color-secondary;
      margin-top: 3px;
      /* Tablet ~ Desktop Style */
      @include tablet {
        @include fontSize(15px);
        margin-top: 2px;
      }
    }
  }
  .content {
    border-top: 2px solid $color-primary;
    padding-top: 22px;
    margin-top: 15px;
    /* Tablet ~ Desktop Style */
    @include tablet {
      padding-top: 32px;
      margin-top: 25px;
    }
  }

}

.row {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
.button-wrap {
  margin-top: 20px;
}