.contents {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.contents-header {
  text-align: center;
  margin-bottom: 30px;
  h3 {
    font-size: 15px;
    font-family: 'Cormorant', serif;
    color: $color-pink-main;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 700;
  }
  p {
    @include fontSize(22px);
    margin-top: 6px;
    font-weight: 100;
  }
}

.content {
  //padding: 0 25px 0 30px;
}

@media (min-width: 768px) {
  .contents {
    padding-top: 50px;
    padding-left: 45px;
    padding-bottom: 50px;
    padding-right: 45px;
  }
  .contents-header {
    margin-bottom: 40px;
  }
}
@media (min-width: 1080px) {
  .contents {
    padding-top: 60px;
    padding-left: 0;
    padding-bottom: 60px;
    padding-right: 0;
  }
  .contents-header {
    margin-bottom: 50px;
    p {
      @include fontSize(26px);
    }
  }
}