.contents {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 45px;
    padding-right: 45px;
  }
  @include desktop {
    padding-top: 60px;
    padding-left: 0;
    padding-bottom: 60px;
    padding-right: 0;
  }
}

.contents-header {
  text-align: center;
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 40px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
  h3 {
    font-size: 15px;
    font-family: 'Cormorant', serif;
    line-height: 18px;
    color: $color-pink-main;
    text-transform: uppercase;
    font-weight: 700;
  }
  p {
    @include fontSize(22px);
    margin-top: 6px;
    font-weight: 100;
    @include desktop {
      @include fontSize(26px);
    }
  }
}